---
const { icon, title, description } = Astro.props;
---

<div
  class="p border-w border/o rounded-2xl border:hover transform:hover transition-transform duration [shadow]:hover"
  style="
    --p: 8;
    --border-w: 1px;
    --border: var(--uk-border);
    --border-o: var(--uk-border-o);
    --border-hover: var(--uk-info);
    --transform-hover: translateY(-0.25rem);
    --duration: 300ms;
    --shadow-hover: 0 12px 40px color-mix(in srgb, var(--uk-primary) 10%, transparent);
  "
  data-fs
>
  <div
    class="size display-flex items-center justify-center bg/o rounded-xl"
    style="
      --size: 12;
      --bg: var(--uk-info);
      --bg-o: 10%;
    "
  >
    <uk-icon
      class="size color"
      style="--size: 6; --color: var(--uk-info-f);"
      icon={icon}
      size="24"></uk-icon>
  </div>

  <div class="mt text-xl font-bold" style="--mt: 5">{title}</div>
  <p class="mt color" style="--mt: 3; --color: var(--uk-muted-f);">
    {description}
  </p>
</div>
