---
import Announcement from "components/announcement.astro";
import Master from "layouts/master.astro";
import Monster from "src/assets/monster.svg";
---

<Master
  doc={{
    title:
      "Frankenstyle - No-build, value-driven, fully responsive, utility-first CSS framework.",
  }}
>
  <div class="isolate">
    <div class="max-w-screen overflow-x-hidden">
      <div
        class="fixed inset-x top z border-b-w border-b/o"
        style="--inset-x: 0; --top: 0; --z: 10; --border-b-w: 1px; --border-b: var(--uk-border); --border-b-o: var(--uk-border-o)"
      >
        <div
          class="bg color"
          style="--bg: var(--uk-bg); --color: var(--uk-bg-f)"
        >
          <div
            class="display-flex h items-center justify-between gap px sm:px"
            style="--h: 14; --gap: 8; --px: 4; --sm-px: 6"
          >
            <div class="display-flex items-center gap">
              <a
                class="uk-focus-visible display-inline-block"
                style="--gap: 2"
                href="/"
              >
                <Monster
                  height={48}
                  width={48}
                  class:list="fill stroke"
                  style="--fill: var(--uk-bg-f); --stroke: var(--uk-bg-f);"
                />
              </a>

              <Announcement headline="Public Preview" />
            </div>
            <div class="display-flex items-center gap" style="--gap: 2">
              <div class="display-flex gap-x" style="--gap-x: 2">
                <a
                  class="uk-button uk-button-primary uk-button-small display-hidden sm:display-inline-flex"
                  href="https://github.com/franken-ui/style/tree/master/contexts"
                  title="Contexts"
                  target="_blank"
                >
                  <uk-icon class="size" style="--size: 4" icon="sparkles"
                  ></uk-icon>
                  <span class="">Contexts</span>
                </a>
                <a
                  class="uk-button uk-button-secondary uk-button-small display-hidden sm:display-inline-flex"
                  href="https://github.com/franken-ui/style"
                  title="Star on Github"
                  target="_blank"
                >
                  <uk-icon class="size" style="--size: 4" icon="github"
                  ></uk-icon>
                  <span class="">Star on Github</span>
                </a>

                <uk-lsh
                  class="size"
                  style="--size: 8"
                  toggle
                  group="mode"
                  cls="uk-button uk-button-icon uk-button-secondary uk-button-small relative"
                >
                  <template data-fn="template">
                    <uk-icon
                      class="dark-slide-icon dark-slide-moon dark:dark-slide-moon"
                      icon="moon"
                    >
                    </uk-icon>
                    <uk-icon
                      class="dark-slide-icon dark-slide-sun dark:dark-slide-sun"
                      icon="sun"
                    >
                    </uk-icon>
                  </template>
                </uk-lsh>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="display-grid min-h-dvh grid-cols [grid-rows] justify-center pt md:mx md:[grid-cols] lg:mx"
        style="
                --grid-cols: 1;
                --grid-rows: 1fr 1px auto 1px auto;
                --pt: 14.25;
                --md-mx: -4;
                --md-grid-cols: 2.5rem minmax(0, var(--breakpoint-2xl)) 2.5rem;
                --lg-mx: 0;
              "
      >
        <div
          class="divider-pattern col-start row-span-full row-start display-hidden md:display-block w"
          style="--col-start: 1; --row-start: 1;"
        >
        </div>

        <div
          class="grid gap pb color sm:gap md:pb dark:color"
          style="
            --gap: 24;
            --pb: 24;
            --color: var(--color-gray-950);
            --sm-gap: 40;
            --md-pb: 40;
            --dark-color: white;
          "
        >
          <div>
            <div
              class="display-flex h items-end px font-family font-size leading color/o sm:h sm:px dark:color/o [gap-x]"
              style="
                --h: 16;
                --px: 4;
                --font-family: var(--font-geist-mono);
                --font-size: 0.75rem;
                --leading: 6;
                --color: black;
                --color-o: 20%;
                --sm-h: 24;
                --sm-px: 2;
                --dark-color: white;
                --dark-color-o: 25%;
                --gap-x: 1px;
              "
            >
              <span class="sm:display-hidden">
                &lt;div class=&quot;m&quot; style=&quot;--m: 2;&quot;&gt;
              </span>
              <span class="display-hidden sm:display-inline">
                &lt;div class=&quot;color&quot; style=&quot;--color:
                var(--color-sky-500);&quot;&gt;
              </span>
            </div>

            <div class="">
              <h1
                class="divider-line px py text-4xl tracking-tighter text-balance sm:px sm:text-5xl lg:text-6xl xl:text-8xl"
                style="
                  --px: 4;
                  --py: 1;
                  --sm-px: 2;
                "
              >
                Great web development shouldn't be complicated.
              </h1>
            </div>

            <div
              aria-hidden="true"
              class="display-flex h items-end px font-family font-size leading sm:h sm:px color/o dark:color/o [gap-x]"
              style="
                --h: 6;
                --px: 4;
                --font-family: var(--font-geist-mono);
                --font-size: 0.75rem;
                --leading: 6;
                --sm-h: 10;
                --sm-px: 2;
                --color: black;
                --color-o: 20%;
                --dark-color: white;
                --dark-color-o: 25%;
                --gap-x: 1;
              "
            >
              <span>&lt;span class=&quot;text-lg font-medium&quot;&gt;</span>
            </div>

            <div class="divider-line">
              <div
                class="max-w-2xl px text-lg font-medium sm:px"
                style="
                  --px: 4;
                  --sm-px: 2;
                "
              >
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Doloribus ex ipsam harum. Dignissimos at, saepe animi a
                blanditiis minima accusantium deleniti beatae et.
              </div>
            </div>

            <div
              class="divider-line mt px sm:mt sm:px display-flex flex-col sm:flex-row gap"
              style="--mt: 4; --px: 4; --sm-mt: 10; --sm-px: 2; --gap: 2"
            >
              <a
                class="uk-button uk-button-primary w-full sm:w-auto rounded-full"
                href="/docs/latest/kit/introduction"
              >
                Get Started
              </a>

              <a
                class="uk-button w-full sm:w-auto rounded-full gap-x opacity"
                style="--gap-x: 2; --opacity: 50%"
              >
                <uk-icon class="size" style="--size: 4" icon="download"
                ></uk-icon>
                Download
              </a>
            </div>
          </div>
        </div>

        <div
          class="divider-pattern row-span-full row-start display-hidden md:col-start md:display-block w"
          style="--row-start: 1; --md-col-start: 3;"
        >
        </div>
      </div>
    </div>
  </div>
</Master>
