---
import { stl as stl2 } from "helpers/common";

const { href = "#", headline, subtext, stl } = Astro.props;
---

<a
  href={href}
  class="uk-focus-visible bg color items-center rounded-full px py font-medium display-flex uk-text-xsmall h flex"
  style={stl2({
    "--bg": "var(--uk-danger)",
    "--color": "var(--color-white)",
    "--px": "3",
    "--py": "1",
    "--h": "7",
    ...stl,
  })}
>
  <strong class="font-semibold">{headline}</strong>
  {
    subtext ? (
      <span
        class="display-inline-flex items-center gap-x ml"
        style={stl2({ "--gap-x": "2", "--ml": "2" })}
      >
        <svg width="2" height="2" fill="currentColor" aria-hidden="true">
          <circle cx="1" cy="1" r="1" />
        </svg>
        <span>{subtext}</span>
        <svg
          width="3"
          height="6"
          class="ml-3 overflow-visible"
          aria-hidden="true"
        >
          <path
            d="M0 0L3 3L0 6"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </span>
    ) : (
      ""
    )
  }
</a>
