---
import Master from "layouts/master.astro";
import ftCore from "frankenstyle/js/ft-core.iife?url";
import ftBgRippleEffect from "frankenstyle/js/ft/bg-ripple-effect.iife?url";
import ftTextEncrypted from "frankenstyle/js/ft/text-encrypted.iife?url";
import { stl } from "helpers/common";

const { doc } = Astro.props;
---

<Master doc={doc}>
  <div class="max-w-screen overflow-x-hidden">
    <div
      class="display-grid min-h-dvh grid-cols [grid-rows] justify-center md:mx md:[grid-cols] lg:mx"
      style={stl({
        "--grid-cols": "1",
        "--grid-rows": "1fr 1px auto 1px auto",
        "--md-mx": "-4",
        "--md-grid-cols": "1px minmax(0, var(--breakpoint-2xl)) 1px",
        "--lg-mx": "0",
      })}
    >
      <div
        class="bg/o col-start row-span-full row-start display-hidden md:display-block w"
        style={stl({
          "--bg": "var(--uk-border)",
          "--bg-o": "var(--uk-border-o)",
          "--col-start": "1",
          "--row-start": "1",
        })}
      >
      </div>

      <div
        class="pb color sm:gap dark:color"
        style={stl({
          "--pb": "24",
          "--color": "var(--color-gray-950)",
          "--sm-gap": "40",
          "--dark-color": "white",
        })}
      >
        <slot />
      </div>

      <div
        class="bg/o row-span-full row-start display-hidden md:col-start md:display-block w"
        style={stl({
          "--bg": "var(--uk-border)",
          "--bg-o": "var(--uk-border-o)",
          "--row-start": "1",
          "--md-col-start": "3",
        })}
      >
      </div>
    </div>
  </div>

  <script is:inline src={ftCore}></script>
  <script is:inline src={ftBgRippleEffect}></script>
  <script is:inline src={ftTextEncrypted}></script>
</Master>
