---
import Master from "layouts/master.astro";
import { stl } from "helpers/common";

const { doc } = Astro.props;
---

<Master doc={doc}>
  <div class="max-w-screen overflow-x-hidden">
    <div
      class="display-grid min-h-dvh grid-cols [grid-rows] justify-center md:mx md:[grid-cols] lg:mx"
      style={stl({
        "--grid-cols": "1",
        "--grid-rows": "1fr 1px auto 1px auto",
        "--md-mx": "-4",
        "--md-grid-cols": "2.5rem minmax(0, var(--breakpoint-2xl)) 2.5rem",
        "--lg-mx": "0",
      })}
    >
      <div
        class="lg:border-r-w lg:border-r/o col-start row-span-full row-start display-hidden md:display-block w"
        style={stl({
          "--lg-border-r-w": "1px",
          "--lg-border-r": "var(--uk-border)",
          "--lg-border-r-o": "var(--uk-border-o)",
          "--col-start": "1",
          "--row-start": "1",
        })}
      >
      </div>

      <div
        class="pb color sm:gap dark:color"
        style={stl({
          "--pb": "24",
          "--color": "var(--color-gray-950)",
          "--sm-gap": "40",
          "--dark-color": "white",
        })}
      >
        <slot />
      </div>

      <div
        class="lg:border-l-w lg:border-l/o row-span-full row-start display-hidden md:col-start md:display-block w"
        style={stl({
          "--lg-border-l-w": "1px",
          "--lg-border-l": "var(--uk-border)",
          "--lg-border-l-o": "var(--uk-border-o)",
          "--row-start": "1",
          "--md-col-start": "3",
        })}
      >
      </div>
    </div>
  </div>

  <script
    is:inline
    src="https://cdn.jsdelivr.net/npm/frankenstyle@0.3.3/dist/js/ft-core.iife.js"
  ></script>
  <script
    is:inline
    src="https://cdn.jsdelivr.net/npm/frankenstyle@0.3.3/dist/js/ft/bg-ripple-effect.iife.js"
  ></script>
  <script
    is:inline
    src="https://cdn.jsdelivr.net/npm/frankenstyle@0.3.3/dist/js/ft/text-encrypted.iife.js"
  ></script>
</Master>
